section{
    height: 100%;
    background-color: black;
    color: #BBA44F;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}